[user]
	name = Kacper Sagnowski
[pull]
	rebase = true
[init]
	defaultBranch = main
[fetch]
	prune = true
	pruneTags = true
	all = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
[help]
	autocorrect = prompt
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[merge]
	conflictstyle = zdiff3
[commit]
	verbose = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	features = catppuccin-mocha
[alias]
	# Usage: git find-merge <commit-SHA> [<branch>]
	# Find SHA of merge commit which merged <commit> into <branch> (or HEAD if <branch> not given)
	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
	# Usage: git show-merge <commit-SHA> [<branch>]
	# Show details of merge commit which merged <commit> into <branch> (or HEAD if <branch> not given)
	show-merge = "!sh -c 'merge_commit=$(git find-merge \"$0\" \"$1\") && git show -q \"$merge_commit\"'"
[include]
    path = ~/.config/delta/themes/catpuccin.gitconfig
    path = ~/.config/git/.gitconfig_local # contains user.email
