Checks: 'bugprone-*,-bugprone-easily-swappable-parameters,cert-*,clang-analyzer-*,clang-diagnostic-*,concurrency-*,cppcoreguidelines-*,misc-*,-misc-no-recursion,modernize-*,-modernize-use-trailing-return-type,performance-*,portability-*,readability-*,-readability-braces-around-statements,-readability-uppercase-literal-suffix'
# CheckOptions:
#  readability-function-cognitive-complexity.DescribeBasicIncrements: 'false'
