// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
pane_frames false

// Choose the mode that zellij uses when starting up.
// Default: normal
//
default_mode "locked"
